////
/// Colors
///
/// @group Settings
///
////

/// Grey scale
$white: #fefefe;
$grey: #cecece;
$light-grey: #ece7e7;
$black: #303044;

/// Branding colors
$red: #ed1a4d;
$brown: #443d3f;

/// Functionnal colors
$color-text: $black;
$color-link: $red;
$color-error: $red;
